{% extends "layout.html" %}

{% block title %}
    Change password
{% endblock %}

{% block script %}
<script>
    document.addEventListener('DOMContentLoaded', function() {

        document.querySelector('form').onsubmit = function() {
            const oldPassword = document.querySelector('#oldPassword').value;
            const newPassword = document.querySelector('#newPassword').value;
            const confirmation = document.querySelector('#confirmation').value;

            if (oldPassword.length === 0)
            {
                alert('Old password required!');
                return false;
            }
            else if (newPassword.length === 0)
            {
                alert('New password required!');
                return false;
            }
            else if (newPassword === oldPassword)
            {
                alert('Old password and New password must be different!');
                return false;
            }
            else if (confirmation.length === 0)
            {
                alert('You need to confirm your new password!');
                return false;
            }
            else if (confirmation != newPassword)
            {
                alert('Confirmation does not match new password');
                return false;
            }
            // submit
            return true;
        }
    });
</script>
{% endblock %}

{% block main %}
    <form action="/change_password" method="post">
        <div class="mb-3">
            <input autofocus class="form-control mx-auto w-auto" id="oldPassword" name="oldPassword" placeholder="Old password" type="password">
        </div>
        <h6 id="message1">{{ message1 }}</h6>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="newPassword" name="newPassword" placeholder="New password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Confirm new password" type="password">
        </div>
        <h6 id="message2">{{ message2 }}</h6>
        <button class="btn btn-primary" type="submit">Change</button>
        <h6>{{ success }}</h6>
    </form>
{% endblock %}