{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block attribute %}
    <style>
        .class {
            border: 1px gray solid;
        }

        .parent {
            border: 1px gray solid;
            overflow: hidden;
            position: relative;
            width: 100%;
            float: left        
        }
        .child-left {
            float: left;
            width: 20%;
            border-right: 1px gray solid;
        }
        .child-right {
            float: center;
            display: block;
        }

        .column {
            float: center;
            border-bottom: 1px gray solid;
        }

        p {
            font-weight: bold;
            word-break: break-word;
            white-space: pre-wrap;
            -moz-white-space: pre-wrap;  
        }

    </style>
{% endblock %}

<!----------------------------------------------------------->
{% block script %}
<script>
    document.addEventListener('DOMContentLoaded', function() {

        // Find mail
        document.querySelector('form').onsubmit = function() {
            const sender_email = document.querySelector('#sender_email').value;
            const receiver_email = document.querySelector('#receiver_email').value;

            if (sender_email.length === 0)
            {
                alert("Sender's email required!");
                return false;
            }
            else if (receiver_email.length === 0)
            {
                alert("Receiver's email required!");
                return false;
            }
            else if (sender_email === receiver_email)
            {
                alert("Sender's email and Receiver's email must be different!");
                return false;
            }

            // submit
            return true;
        }
    });
</script>
{% endblock %}


<!--FIND HISTORIES-->
{% block history %}

    <form class="row g-3 needs-validation" novalidate style="display: flex;" action="/history" method="post">
        
        <!--Sender's email's field--> 
        <div class="col-md-4">
            <label for="validationCustom01" class="form-label">Sender's email</label>
            <input type="text" class="form-control" id="sender_email" name="sender_email" placeholder="example@email.com" required>
        </div>

        <!--Receiver's email's field--> 
        <div class="col-md-4">
            <label for="validationCustom01" class="form-label">Receiver's email</label>
            <input type="text" class="form-control" id="receiver_email" name="receiver_email" placeholder="example@email.com" required>
        </div>

        <!--Date's field--> 
        <div class="col-md-4">
            <label for="validationCustom01" class="form-label">Date</label>
            <input type="text" class="form-control" id="date" name="date" placeholder="yyyy-mm-dd">
        </div>

        <br>

        <!--Submit button--> 
        <div class="col-12">
            <button class="btn btn-primary" type="submit">Find</button>
        </div>
        
    </form>

{% endblock %}


<!--DISPLAY ALL HISTORIES-->
{% block main %}
    <h1>Your histories</h1>
    <br>
    <h4 id="message4">{{ message4 }}</h4>

    {% for history in histories %}

        <div class="parent">

                    <div class="child-left">
                            <div class="column"><h6>From {{ history['sender'] }} <br> {{ history['sender_email'] }}</h6></div>           
                                    
                            <div class="column">To {{ history['receiver'] }} <br>  {{ history['receiver_email'] }}</div>     
                            
                            <div class="column"><h6>{{ history['date'] }}</h6></div>
                    </div>
                    <div class="child-right">
                        <p>{{ history['mail'] }}</p>    
                        Chỉnh cho text xuống hàng khi bấm Enter hoặc đụng tường 
                    </div>

        </div>


    {% endfor %}
    

{% endblock %}