{% extends "layout.html" %}

{% block title %}
    Inbox
{% endblock %}

{% block attribute %}
<style>
    h1 {
        text-align: center;
        color: green
    }

    h6 {
        color: rgb(255, 0, 64);
    }

    #search {
        float:left;
    }

    #sent {
        margin:auto;
        border-top: none;
        border-bottom: none;
        width: 50%;
        max-height: fit-content;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    }

    #sent #sender {
        text-align: center;
        font-size: large;
        font-weight: bold;
        color: blue;
        height: 30px;
        background: none;
        border: none;
        width: 100%;
    }

    #sent #sender-email {
        text-align: center;
        font-weight: bold;
        height: 30px;
        background: none;
        border: none;
        width: 100%;
    }

    #sent ul li {
        list-style-type: none;
    }


    #person {
        font-size: larger;
        font-weight: bold;
        height: 30px;
    }

    #person-email {
        font-weight: bold;
        height: 30px;
    }

    p {
        height: 10px;
        font-weight: normal;
    }

    #paragraph {
        text-align: left;
        font-weight: bold;
        font-size: large;
        padding: 10px;
        width: 100%;
        height: 150px;
        min-height: 50px;

        border: none;
        background: #E0EAFC;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

</style>
{% endblock %}

{% block sending %}
<h1>Inbox</h1>
{% endblock %}

{% block main %}
<div>  
    <form action="/search_inbox" method="post" id="search">
        
        <div><input autofocus id="name" name="name" placeholder="Sender's name" type="text"></div>
        <h6>{{ name }}</h6>
        <br>
        <div><input autofocus id="sender_email" name="sender_email" placeholder="name@example.com" type="text"></div>

        <br>
        <div><input autofocus id="date" name="date" type="text" placeholder="yyyy-mm-dd / yyyy-mm / yyyy"></div>  
   
        <br>    
        <button class="btn btn-primary" type="submit">Search</button>
    </form>
</div>


<h4>{{ notfound }}</h4>
{% for mail in mails %}
<div id="sent">
    <form action="/send" method="post">
        <ul>
            <li><textarea id="sender" name="name" readonly>{{ mail['sender'] }}</textarea></li>
            <li><textarea id="sender-email" name="email" readonly>{{ mail['email'] }}</textarea></li>
            <li><p>{{ mail['date'] }}</p></li>
            <li><button type="submit">Answer</button></li>          
        </ul>
    </form>
    <textarea id="paragraph" disabled>{{ mail['mail'] }}</textarea>
</div>
{% endfor %}

{% endblock %}