{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block attribute %}
<style>

    h1 {
        color: green;
    }

    .table {
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        
    }

    .table tr th {
        color: blue;
        font-size: larger;
    }

    .table tr td {
        font-weight: bold;
    }
    
</style>
{% endblock %}

{% block main %}
    <h1>Home page</h1>
    <table class="table">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Birth</th>
            <th scope="col">Place</th>
            <th scope="col">Number</th>
            <th scope="col">Email</th>
        </tr>
        {% for row in rows %}
        <tr>
            <td>{{ row.name }}</td>
            <td>{{ row.birth }}</td>
            <td>{{ row.place }}</td>
            <td>{{ row.number }}</td>
            <td>{{ row.email }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}