{% extends "layout.html" %}

{% block title %}
    Information
{% endblock %}

{% block script %}
<script>
    document.addEventListener('DOMContentLoaded', function() {

        document.querySelector('form').onsubmit = function() {
            const name = document.querySelector('#name').value;
            const email = document.querySelector('#email').value;

            if (name.length === 0)
            {
                alert('name required!');
                return false;
            }
            else if (email.length === 0)
            {
                alert('email required!');
                return false;
            }

            // submit
            return true;
        }
    });
</script>
{% endblock %}

{% block attribute %}
<style>
    h1 {
        text-align: center;
        color: green;
    }

    h2 {
        text-align: center;
        color: deeppink;
    }
</style>
{% endblock %}

{% block information %}
<h1>Change your information</h1>
<br>
<h2>{{ requirement }}</h2>
<br>
<form class="row g-3 needs-validation" novalidate style="display: flex;" action="/information" method="post">
      
    <!--Name's field--> 
    <div class="col-md-4">
        <label for="validationCustom01" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" name="name" required>
    </div>

    <!--Birth's field--> 
    <div class="col-md-4">
        <label for="validationCustom01" class="form-label">Birth</label>
        <input type="text" class="form-control" id="birth" name="birth" required>
    </div>

    <!--Place's field--> 
    <div class="col-md-4">
        <label for="validationCustom01" class="form-label">Place</label>
        <input type="text" class="form-control" id="place" name="place" required>
    </div>

    <!--Number's field--> 
    <div class="col-md-6">
        <label for="validationCustom01" class="form-label">Number</label>
        <input type="text" class="form-control" id="number" name="number" required>
    </div>

    <!--Email's field--> 
    <div class="col-md-6">
        <label for="validationCustom01" class="form-label">Email</label>
        <input type="text" class="form-control" id="email" name="email" placeholder="example@email.com" required>
    </div>

    <br>

    <!--Submit button--> 
    <div class="col-12">
        <button class="btn btn-primary" type="submit">Submit</button>
    </div>
    <h6>{{ message }}</h6>

</form>

{% endblock %}