<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">

        <!-- http://getbootstrap.com/docs/5.1/ -->
        <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" rel="stylesheet">
        <script crossorigin="anonymous" src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"></script>

        <!-- https://favicon.io/emoji-favicons/money-bag/ -->
        <link href="https://upload.wikimedia.org/wikipedia/commons/3/3d/Envelope-letter-icon.png" rel="icon">

        <link href="/static/styles.css" rel="stylesheet">
        <title>SKADOOSH: {% block title %}{% endblock %}</title>

        {% block attribute %}{% endblock %}

        {% block script %}{% endblock %}
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                
                document.querySelector('#deleteAccount').onclick = function() {
                    let deleteAccount = confirm("Do you really want to delete your account?");
                    if (deleteAccount === true)
                    {
                        // If user answers 'yes', then delete their account
                        return true;
                    }
                    else
                    {
                        // Do not delete their account
                        return false;
                    }
                }
            });




        </script>

    </head>

    <body>

        <nav class="bg-light border navbar navbar-expand-md navbar-light">

            <div class="container-fluid">      

              <a class="navbar-brand mt-2 mt-lg-0" href="/"><span class="red">S</span><span class="yellow">K</span><span class="blue">A</span><span class="green">D</span><span class="yellow">O</span>
                  <div class="spinner-border text-danger" role="status">
                    <span class="visually-hidden">Loading...</span>
                  </div><span class="blue">S</span><span class="green">H</span></a>             
                <button
                aria-controls="navbar"
                class="navbar-toggler"
                type="button"
                data-mdb-toggle="collapse"
                data-mdb-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
                </button>

                <div class="collapse navbar-collapse" id="navbar">
                    {% if session["user_id"] %}
                        <ul class="navbar-nav me-auto mt-2">
                            <li class="nav-item"><a class="nav-link" href="/requests">Friend requests</a></li>
                            <li class="nav-item"><a class="nav-link" href="/list">Friend list</a></li>
                            <li class="nav-item"><a class="nav-link" href="/find">People</a></li>
                            <li class="nav-item"><a class="nav-link" href="/inbox">Inbox</a></li>
                            <li class="nav-item"><a class="nav-link" href="/sending">Sent</a></li>
                            <li class="nav-item"><a class="nav-link" href="/change_information">Information</a></li>
                        </ul>
                        <ul class="navbar-nav ms-auto mt-2">
                            <li class="nav-item"><a class="nav-link" href="/change_password" style="color: green;">Change Password</a></li>
                            <li class="nav-item"><a class="nav-link" href="/logout" style="color: red;">Log Out</a></li>
                        </ul>
                    {% else %}
                        <ul class="navbar-nav ms-auto mt-2">
                            <li class="nav-item"><a class="nav-link" href="/register" style="color: blue;">Register</a></li>
                            <li class="nav-item"><a class="nav-link" href="/login" style="color: blue;">Log In</a></li>
                        </ul>
                    {% endif %}
                </div>
            </div>
     
        </nav>


        {% if get_flashed_messages() %}
            <header>
                <div class="alert alert-primary mb-0 text-center" role="alert">
                    {{ get_flashed_messages() | join(" ") }}
                </div>
            </header>
        {% endif %}

        <!--excetera.html-->
        <div class="container-fluid py-5" id="main">
            <!--information.html-->
            {% block information %}{% endblock %}

            <!--sending.html-->
            {% block sending %}{% endblock %}


            <!--add_friends.html-->
            {% block add_friends %}{% endblock %}


            <!--list.html-->
            {% block list %}{% endblock %}

            <!--find.html-->
            {% block find %}{% endblock %}

    

            <!--request.html-->
            {% block request %}{% endblock %}
        </div>

        <main class="container-fluid py-5 text-center">
            {% block main %}{% endblock %}
        </main>
        
    </body>


    <!--If user wants to delete their account-->
    <footer>
        <main class="container-fluid py-5 text-center">
            <form action="/" method="post">
                <button id="deleteAccount" class="btn btn-primary" type="submit">Delete Account</button>
            </form>
        </main>

    </footer>

</html>
