{% extends "layout.html" %}

{% block title %}
    Find
{% endblock %}

{% block script %}
<script>
    document.addEventListener('DOMContentLoaded', function() {

        document.querySelector('form').onsubmit = function() {
            const receiver = document.querySelector('#receiver').value;
            const email = document.querySelector('#email').value;
            const mail = document.querySelector('#floatingMail').value;

            if (receiver.length === 0)
            {
                alert("receiver's name required!");
                return false;
            }
            else if (email.length === 0)
            {
                alert("receiver's email required!");
                return false;
            }
            else if (mail.length === 0)
            {
                alert("mail's content required!");
                return false;
            }
            // submit
            return true;
        }
    });
</script>
{% endblock %}

{% block send %}

    <form action="/send" method="post">
        <div class="mb-3">
            <input autofocus class="form-control w-auto" id="receiver" name="receiver" placeholder="Receiver's name" type="text">
        </div>
        <h6 id="message1">{{ message1 }}</h6>
        <div class="mb-3">
            <input class="form-control w-auto" id="email" name="email" placeholder="name@example.com" type="text">
        </div>
        <h6 id="message2">{{ message2 }}</h6>
        <div class="form-floating">
            <input class="form-control" id="floatingMail" name="mail" type="text">
            <label for="floatingMail">Mail nhớ chỉnh cho text đụng hết chiều ngang hoặc bấm Enter là xuống dòng</label>
        </div>
        <br>
        <button class="btn btn-primary" type="submit">Send</button>
        <h6 id="message4">{{ message4 }}</h6>
    </form>

{% endblock %}