{% extends "layout.html" %}

{% block title %}
    Find
{% endblock %}

{% block main %}
    <form action="/send" method="post">
        <div class="mb-3">
            <input autofocus class="form-control mx-auto w-auto" id="receiver" name="receiver" placeholder="Friend's name" type="text">
        </div>
        <h6>{{ message1 }}</h6>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="email" name="email" placeholder="Email" type="text">
        </div>
        <h6>{{ message2 }}</h6>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="mail" name="mail" placeholder="Your mail" type="text">
        </div>
        <h6>{{ message3 }}</h6>
        <button class="btn btn-primary" type="submit">Send</button>
        <h6>{{ message4 }}</h6>
    </form>
   
{% endblock %}