{% extends "layout.html" %}

{% block title %}
    Sent
{% endblock %}

{% block script %}
<script>
    document.addEventListener('DOMContentLoaded', function() {

        document.querySelector('#send').onsubmit = function() {
            const receiver = document.querySelector('#receiver').value;
            const email = document.querySelector('#email').value;
            const mail = document.querySelector('#mail').value;

            if (receiver.length === 0)
            {
                alert("receiver's name required!");
                return false;
            }
            else if (email.length === 0)
            {
                alert("receiver's email required!");
                return false;
            }
            else if (mail.length === 0)
            {
                alert("mail's content required!");
                return false;
            }
            // submit
            return true;
        }
    });
</script>
{% endblock %}


{% block attribute %}
<style>

    h1 {
        text-align: center;
        color: red;
    }

    h2 {
        color: green;
    }

    h6 {
        color: rgb(255, 0, 64);
    }

    #sent {
        margin:auto;
        border-top: none;
        border-bottom: none;
        width: 50%;
        max-height: fit-content;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    }



    #send textarea {
        width: 25%;
        height:30px;
        font-weight: bold;
        
    }

    #send #mail {
        width: 80%;
        height: 200px;
        font-weight:normal;
    }


    #mail-receiver {
        text-align: center;
        font-weight: bold;
        color: blue;
    }
    p {
        height: 10px;
        font-weight: bold;
    }

    label {
        color: blue;
        font-weight: 500;
    }


    #paragraph {
        text-align: left;
        font-weight: bold;
        font-size: large;
        padding: 10px;
        width: 100%;
        height: 150px;
        min-height: 50px;

        border: none;
        background: #E0EAFC;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    #mail {
        height: 120px;
        width: 600px;
        font-weight: bolder;
        font-size: large;
    }

    #search {
        float: left;
    }

    #search div input {
        width: 245px;
    }

</style>
{% endblock %}



{% block sending %}
<h2>{{ head }}</h2>
<div id="send">
    <form action="/sending" method="post" id="send">
        <div class="mb-3">
            <label>Friend</label>
            <textarea class="form-control" id="receiver" name="receiver">{{ name }}</textarea>         
        </div>
        <div class="mb-3">
            <label>Friend's email</label>
            <textarea class="form-control" id="email" name="email">{{ email }}</textarea>      
        </div>
        <div class="form-floating">
            <textarea class="form-control" id="mail" name="mail"></textarea>
            <label for="floatingMail" class="form-label">Content</label>
        </div>
        <br>
        <button class="btn btn-primary" type="submit">Send</button>
    </form>
</div>
<h1>From You to...</h1>
{% endblock %}



{% block main %}
<div>  
    <form action="/search_sent" method="post" id="search">
        
        <div><input id="name" name="name" placeholder="Receiver's name" type="text"></div>
        <h6>{{ name_required }}</h6>
        <br>
        <div><input id="receiver_email" name="receiver_email" placeholder="name@example.com" type="text"></div>
   
        <br>
        <div><input id="date" name="date" type="text" placeholder="yyyy-mm-dd / yyyy-mm / yyyy"></div> 
   
        <br>  
        <button class="btn btn-primary" type="submit">Search</button>  
    </form>
</div>

<h4>{{ notfound }}</h4>
{% for mail in mails %}
<div id="sent">
    <p id="mail-receiver">{{ mail['receiver'] }} </p> <p>{{ mail['email'] }}</p>  <p> {{ mail['date'] }}</p>
    <textarea id="paragraph" disabled>{{ mail['mail'] }}</textarea>
</div>
{% endfor %}

{% endblock %}