
{% extends "layout.html" %}

{% block title %}
    Find
{% endblock %}

{% block main %}

<form action="/send" method="post">
    {% for value in names %}
    <table class="table">
        <tr>
            <th>Receiver</th>
            <th>Mail</th>
        </tr>
        <tr>
            <td>
                <h5>{{ value['name'] }}</h5>
                <h6 style="color:darkgrey">{{ value['email'] }}</h6>
            </td>
            <td>
                <div class="input-group">
                    <input autofocus name="mail" placeholder="Mail" type="text">
                </div>
                <button type="submit">Send</button>
                <h6>{{ message3 }}</h6>
            </td>
        </tr>
    </table>
    {% endfor %}
</form>

{% endblock %}