{% extends "layout.html" %}

{% block title %}
    Sent
{% endblock %}

{% block script %}
<script>
    document.addEventListener('DOMContentLoaded', function() {

        document.querySelector('#send').onsubmit = function() {
            const receiver = document.querySelector('#receiver').value;
            const email = document.querySelector('#email').value;
            const mail = document.querySelector('#floatingMail').value;

            if (receiver.length === 0)
            {
                alert("receiver's name required!");
                return false;
            }
            else if (email.length === 0)
            {
                alert("receiver's email required!");
                return false;
            }
            else if (mail.length === 0)
            {
                alert("mail's content required!");
                return false;
            }
            // submit
            return true;
        }
    });
</script>
{% endblock %}


{% block attribute %}
<style>

    h1 {
        text-align: center;
        color: red;
    }

    h6 {
        color: rgb(255, 0, 64);
    }

    #sent {
        margin:auto;
        border: 1px gray solid;
        width: 50%;
    }

    #sent div {
        border-bottom: 1px gray solid;
    }

    #sent #mail {
        word-wrap: break-word;
        overflow-y: scroll;
        max-height: 200px;
    }

    #mail-receiver {
        text-align: center;
        font-weight: bold;
        color: red;
    }

    #content {
        text-align: left;
        font-weight: bold;
        font-size: large;
        padding: 10px;
    }

    #floatingMail {
        height: 100px;
    }

    #search {
        float: left;
    }

    #search div input {
        width: 240px;
    }

</style>
{% endblock %}



{% block sent %}
<div id="send">
    <form action="/sent" method="post" id="send">
        <div class="mb-3">
            <input autofocus class="form-control w-auto" id="receiver" name="receiver" placeholder="Receiver's name" type="text">
        </div>
        <h6>{{ message1 }}</h6>
        <div class="mb-3">
            <input class="form-control w-auto" id="email" name="email" placeholder="name@example.com" type="text">
        </div>
        <h6 id="message2">{{ message2 }}</h6>
        <div class="form-floating">
            <input class="form-control" id="floatingMail" name="mail" type="text">
            <label for="floatingMail" class="form-label">Content</label>
        </div>
        <br>
        <button class="btn btn-primary" type="submit">Send</button>
        <h6 id="message4">{{ message4 }}</h6>
    </form>
</div>
<h1>Sent From You</h1>
{% endblock %}



{% block main %}
<div>  
    <form action="/search_sent" method="post" id="search">
        
        <div><input autofocus id="name" name="name" placeholder="Receiver's name" type="text"></div>
        <h6>{{ name }}</h6>
        <br>
        <div><input autofocus id="receiver_email" name="receiver_email" placeholder="name@example.com" type="text"></div>
        <h6>{{ email }}</h6>
        <br>
        <div><input autofocus id="date" name="date" type="date"></div>  
        <h6>{{ date }}</h6>
        <br>  
        <button class="btn btn-primary" type="submit">Search</button>  
    </form>
</div>

<h4>{{ notfound }}</h4>
{% for mail in mails %}
<div id="sent">
    <div><p id="mail-receiver">{{ mail['receiver'] }} <br> {{ mail['email'] }} <br> {{ mail['date'] }}</p></div>
    <div id="mail"><p id="content">{{ mail['mail'] }}</p></div>
</div>
{% endfor %}

{% endblock %}